.action-button {
  @include font-size(16px, 20px);

  width: 100%;
  background-color: $color-basic-green;
  padding: 10px 14px;
  text-transform: uppercase;
  color: $color-basic-white;
  border: none;
  margin-bottom: 21px;
  cursor: pointer;

  &:hover {
    background-color: $color-special-green;
  }

  &:active {
    color: rgba($color-basic-white, 0.3);
  }

  &--regular {
    background-color: $color-basic-grey;
    color: $color-special-greydark;
  }
}
