.action-link {
  @include font-size();

  display: inline-block;
  box-sizing: border-box;
  background-color: $color-basic-green;
  padding: 10px 24px;
  color: $color-basic-white;
  vertical-align: baseline;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 100%;

  &:hover {
    background-color: $color-special-green;
  }

  &:active {
    color: rgba($color-basic-white, 0.3);
  }

  @media (min-width: $media-width-tablet) {
    @include font-size(20px, 20px);
  }
}

.action-link--regular {
  @include font-size(16px, 20px);

  background-color: $color-basic-grey;
  color: $color-special-greydark;

  &:hover {
    background-color: $color-special-greylight;
  }

  &:active {
    color: rgba($color-special-greydark, 0.3);
  }
}
