.contacts {
  padding-top: 28px;

  &--light {
    background-color: $color-basic-white;
  }
}

.contacts__invintation {
  @include font-size(16px, 18px);

  text-transform: uppercase;
  color: $color-special-black;
  margin: 0;
  max-width: 140px;
}

.contacts__address {
  @include font-size(14px, 20px);

  font-family: "Arial", "Helvetica", sans-serif;
  color: $color-special-greydark;
  margin: 0;
  max-width: 140px;
}

.contacts__map {
  margin-top: 22px;
  border: 0;
}
