.features {
  padding-top: 27px;
  padding-bottom: 46px;

  @media (min-width: $media-width-tablet) {
    padding-top: 50px;
    padding-bottom: 47px;
  }

  @media (min-width: $media-width-desktop) {
    padding-top: 78px;
    padding-bottom: 22px;
  }
}

.features__title {
  @include font-size(36px, 40px);

  margin: 0 0 38px 0;

  @media (min-width: $media-width-tablet) {
    @include font-size(60px, 60px);

    margin-bottom: 32px;
  }
}

.features__list {
  @media (min-width: $media-width-tablet) {
    counter-reset: list;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    column-gap: 60px;
  }

  @media (min-width: $media-width-desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.features__item {
  position: relative;

  & + & {
    margin-top: 20px;
  }

  @media (min-width: $media-width-tablet) {
    padding-top: 40px;
    flex-direction: column;
    align-items: flex-start;
    min-height: 280px;
    box-sizing: border-box;

    &::after {
      @include font-size(280px, 280px);

      counter-increment: list;
      content: counter(list);
      position: absolute;
      right: 80px;
      top: 0;
      color: $color-basic-grey;
    }

    & + & {
      margin-top: 0;
    }
  }

  @media (min-width: $media-width-desktop) {
    &::after {
      right: 0;
    }
  }
}

.features__icon {
  width: 60px;
  height: 60px;
  background-position: center center;
  background-repeat: no-repeat;

  &--functional {
    background-image: url("./../img/feature-functional.svg");
  }

  &--powder {
    background-image: url("./../img/feature-powder.svg");
  }

  &--meal {
    background-image: url("./../img/feature-meal.svg");
  }

  &--period {
    background-image: url("./../img/feature-period.svg");
  }

  @media (min-width: $media-width-tablet) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
    background-color: $color-basic-green;
  }
}

.features__description {
  @include font-size();

  font-family: "Arial", "Helvetica", sans-serif;
  color: $color-special-greydark;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  margin-left: 20px;

  br {
    display: none;
  }

  @media (min-width: $media-width-tablet) {
    @include font-size(16px, 24px);

    width: 81%;
    margin-left: 0;
    z-index: $layer-second;

    br {
      display: block;
    }
  }

  @media (min-width: $media-width-desktop) {
    width: 100%;
  }
}
