.features {
  padding-top: 27px;
  padding-bottom: 42px;
}

.features__title {
  @include font-size(36px, 40px);

  margin: 0 0 38px 0;
}

.features__item:not(:last-child) {
  margin-bottom: 20px;
}

.features__icon {
  width: 60px;
  height: 60px;

  &--functional {
    background-image: url("../../img/feature-functional.svg");
  }

  &--powder {
    background-image: url("../../img/feature-powder.svg");
  }

  &--meal {
    background-image: url("../../img/feature-meal.svg");
  }

  &--period {
    background-image: url("../../img/feature-period.svg");
  }
}

.features__description {
  @include font-size();

  font-family: "Arial", "Helvetica", sans-serif;
  color: $color-special-greydark;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  margin-left: 20px;
}
