.form {
  @media (min-width: $media-width-desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.form-group {
  padding: 26px 0 25px;
  margin: 0;
  border: 0;
  width: 100%;

  &--separated {
    border-bottom: 1px solid $color-basic-greylight;
  }

  &--spacing {
    padding-top: 0;
  }

  @media (min-width: $media-width-tablet) {
    padding: 35px 0 41px;

    &--separated {
      border-bottom: none;
    }

    &--spacing {
      padding-top: 25px;
      padding-bottom: 36px;
    }
  }

  @media (min-width: $media-width-desktop) {
    padding-bottom: 36px;

    &--spacing {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

.form-group--half {
  @media (min-width: $media-width-desktop) {
    width: 45%;
  }
}

.form-group--half .form-group__inner-wrapper {
  @media (min-width: $media-width-desktop) {
    width: 88%;
  }
}

.form-group__inner-wrapper {
  width: 87.5%;
  box-sizing: border-box;

  @media (min-width: $media-width-tablet) {
    width: 81.7%;

    &--checkbox-layout {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 42px;
      column-gap: 50px;
    }

    &--bordered {
      padding: 30px 28px;
      border: 1px solid $color-special-grey-verylight;
    }
  }

  @media (min-width: $media-width-desktop) {
    width: 84.5%;

    &--checkbox-layout {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 80px;
    }

    &--field-layout {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 76px;
    }
  }
}

.form-group__input {
  @include font-size(16px, 18px);

  padding: 13px 15px 14px;
  box-sizing: border-box;
  background-color: transparent;
  text-transform: uppercase;
  color: $color-special-greydark;
  min-width: 100px;
  height: 45px;
  flex-grow: 1;
  border: 1px solid $color-special-grey-verylight;
  order: 1;
  outline: none;

  &--invalid {
    border-width: 2px;
    border-color: $color-basic-red;
  }

  &:hover {
    border-color: $color-special-grey;
  }

  &:focus {
    border-width: 2px;
    border-color: $color-special-greydark;
    padding-left: 14px;

    @media (min-width: $media-width-tablet) {
      padding-left: 18px;
    }
  }

  &:focus:invalid {
    border-width: 2px;
    border-color: $color-basic-red;
  }

  @media (min-width: $media-width-tablet) {
    @include font-size(20px, 30px);

    padding: 10px 19px 12px;
    height: 52px;
  }
}

.form-group__input-textarea {
  padding: 9px 12px 9px 15px;
  resize: none;
  height: 150px;

  &:focus {
    padding: 8px 11px 8px 14px;

    @media (min-width: $media-width-tablet) {
      padding: 9px 14px 11px 18px;
    }
  }

  @media (min-width: $media-width-tablet) {
    padding: 10px 15px 12px 19px;
    height: 178px;
  }
}

.form-group__label-input {
  @include font-size(16px, 18px);

  text-transform: uppercase;
  color: $color-special-greydark;
  margin-right: 18px;

  @media (min-width: $media-width-tablet) {
    @include font-size(20px, 30px);

    margin-right: 26px;
  }
}

.form-group__label-input-radio {
  @include font-size(16px, 18px);

  text-transform: uppercase;
  color: $color-special-greydarky;
  padding-left: 45px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid $color-special-grey;
    border-radius: 50%;
    top: -2px;
    left: 0;

    @media (min-width: $media-width-tablet) {
      width: 40px;
      height: 40px;
      top: -6px;
    }
  }

  &:hover::after {
    border-color: $color-special-grey-verylighty;
  }

  @media (min-width: $media-width-tablet) {
    @include font-size(20px, 30px);
    padding-left: 60px;
  }
}

.input-radio:checked + .form-group__label-input-radio::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: $color-basic-green;
  border-radius: 50%;
  top: 7px;
  left: 9px;

  @media (min-width: $media-width-tablet) {
    width: 18px;
    height: 18px;
    top: 6px;
    left: 12px;
  }
}

.input-radio:disabled + .form-group__label-input-radio {
  opacity: 0.3;
}

.form-group__label-input-checkbox {
  @include font-size(16px, 18px);

  text-transform: uppercase;
  color: $color-special-greydarky;
  padding-left: 45px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid $color-special-grey;
    top: -2px;
    left: 0;

    @media (min-width: $media-width-tablet) {
      width: 40px;
      height: 40px;
      top: -5px;
    }
  }

  &:hover::after {
    border-color: $color-special-grey-verylighty;
  }

  @media (min-width: $media-width-tablet) {
    @include font-size(20px, 30px);

    padding-left: 60px;
  }
}

.input-checkbox:checked + .form-group__label-input-checkbox::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 16px;
  border-right: 2px solid $color-basic-green;
  border-bottom: 2px solid $color-basic-green;
  top: 3px;
  left: 12px;
  transform: rotate(45deg);

  @media (min-width: $media-width-tablet) {
    left: 15px;
  }
}

.input-checkbox:disabled + .form-group__label-input-checkbox {
  opacity: 0.3;
}

.form-group__input-wrapper {
  display: flex;
  align-items: center;
  position: relative;

  & + & {
    margin-top: 14px;
  }

  @media (min-width: $media-width-tablet) {
    & + & {
      margin-top: 20px;
    }
  }

  @media (min-width: $media-width-desktop) {
    & + &--row-layout {
      margin-top: 0;
    }
  }
}

.form-group__input-radio-wrapper {
  & + & {
    margin-top: 25px;

    @media (min-width: $media-width-tablet) {
      margin-top: 21px;
    }
  }
}

.form-group__input-checkbox-wrapper {
  & + & {
    margin-top: 24px;
  }

  @media (min-width: $media-width-tablet) {
    & + & {
      margin: 0;
    }
  }
}

.form-group__input:required + .form-group__label-input::after {
  content: "*";
  position: absolute;
}

.form__actions {
  padding-top: 19px;
  padding-bottom: 32px;

  @media (min-width: $media-width-tablet) {
    width: 81.7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 27px;
    padding-bottom: 72px;
    column-gap: 58px;
  }

  @media (min-width: $media-width-desktop) {
    width: 84.5%;
    padding-top: 37px;
    padding-bottom: 83px;
    column-gap: 80px;
  }
}

.form__actions .action-button {
  @media (min-width: $media-width-tablet) {
    @include font-size(20px);

    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 282px;
  }

  @media (min-width: $media-width-desktop) {
    width: 100%;
  }
}

.actions__footnote {
  @include font-size(14px, 16px);

  font-family: "Arial", "Helvetica", sans-serif;
  margin: 0;

  @media (min-width: $media-width-tablet) {
    @include font-size(16px, 16px);
  }
}
