.form {
  @media (min-width: $media-width-desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.form-group {
  padding: 27px 0 25px;
  margin: 0;
  border: 0;
  width: 100%;

  &--separated {
    border-bottom: 1px solid $color-basic-greylight;
  }

  &--spacing {
    padding-top: 0;
  }

  @media (min-width: $media-width-tablet) {
    padding: 36px 0;

    &--separated {
      border-bottom: none;
    }
  }

  @media (min-width: $media-width-desktop) {
    &--half {
      width: 45.8%;
    }
  }
}

.form-group__inner-wrapper {
  width: 87.5%;
  box-sizing: border-box;

  @media (min-width: $media-width-tablet) {
    width: 80%;

    &--checkbox-layout {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 42px;
      column-gap: 50px;
    }

    &--bordered {
      padding: 30px 28px;
      border: 1px solid $color-special-grey-verylight;
    }
  }

  @media (min-width: $media-width-desktop) {
    width: 84.5%;

    &--checkbox-layout {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &--field-layout {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 100px;
    }
  }
}

.form-group__input {
  @include font-size(16px, 18px);

  padding: 13px 15px 14px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: $color-special-greydark;
  min-width: 100px;
  flex-grow: 1;
  border: 1px solid $color-special-grey;
  order: 1;

  &--textarea {
    padding: 9px 12px 9px 15px;
    resize: none;
    height: 150px;
  }

  @media (min-width: $media-width-tablet) {
    @include font-size(20px, 30px);

    padding: 10px 19px 12px;

    &--textarea {
      padding: 10px 15px 12px 19px;
      height: 174px;
    }
  }
}

.input-icon {
  padding-right: 50px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px);
  background-size: 20px 20px;

  &--email {
    background-image: url("./../img/icon-email.svg");
  }

  &--phone {
    background-image: url("./../img/icon-phone.svg");
  }
}

.form-group__label-input {
  @include font-size(16px, 18px);

  text-transform: uppercase;
  color: $color-special-greydark;
  margin-right: 17px;

  @media (min-width: $media-width-tablet) {
    @include font-size(20px, 30px);

    margin-right: 26px;
  }
}

.form-group__label-input-radio {
  @include font-size(16px, 18px);

  text-transform: uppercase;
  color: $color-special-greydarky;
  padding-left: 45px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid $color-special-grey;
    border-radius: 50%;
    top: -2px;
    left: 0;
  }

  @media (min-width: $media-width-tablet) {
    @include font-size(20px, 30px);
  }
}

.input-radio:checked + .form-group__label-input-radio::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: $color-basic-green;
  border-radius: 50%;
  top: 7px;
  left: 9px;
}

.form-group__label-input-checkbox {
  @include font-size(16px, 18px);

  text-transform: uppercase;
  color: $color-special-greydarky;
  padding-left: 45px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid $color-special-grey;
    top: -2px;
    left: 0;
  }

  @media (min-width: $media-width-tablet) {
    @include font-size(20px, 30px);
  }
}

.input-checkbox:checked + .form-group__label-input-checkbox::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 16px;
  border-right: 2px solid $color-basic-green;
  border-bottom: 2px solid $color-basic-green;
  top: 3px;
  left: 12px;
  transform: rotate(45deg);
}

.form-group__input-wrapper {
  display: flex;
  align-items: center;

  & + & {
    margin-top: 14px;
  }

  @media (min-width: $media-width-tablet) {
    & + & {
      margin-top: 20px;
    }
  }

  @media (min-width: $media-width-desktop) {
    & + &--row-layout {
      margin-top: 0;
    }
  }
}

.form-group__input-radio-wrapper {
  & + & {
    margin-top: 25px;
  }
}

.form-group__input-checkbox-wrapper {
  & + & {
    margin-top: 24px;
  }

  @media (min-width: $media-width-tablet) {
    & + & {
      margin: 0;
    }
  }
}

.form-group__input:required + .form-group__label-input::after {
  content: "*";
  position: absolute;
}

.form__actions {
  padding-top: 19px;
  padding-bottom: 32px;

  @media (min-width: $media-width-tablet) {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 23px;
    padding-bottom: 72px;
    column-gap: 50px;
  }

  @media (min-width: $media-width-desktop) {
    width: 84.5%;
  }
}

.form__actions .action-button {
  @media (min-width: $media-width-tablet) {
    margin-bottom: 0;
    width: 282px;
  }
}

.actions__footnote {
  @include font-size(14px, 16px);

  font-family: "Arial", "Helvetica", sans-serif;
  margin: 0;

  @media (min-width: $media-width-tablet) {
    @include font-size(16px, 16px);
  }
}
