.goods {
  @media (min-width: $media-width-tablet) {
    @include flexible();

    align-items: center;
    justify-content: center;
  }
}

.goods__list {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $media-width-tablet) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 60px;
    width: 92%;
  }

  @media (min-width: $media-width-desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 62px;
    width: 85%;
  }
}

.goods__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 13px;
  margin: 0;

  @media (min-width: $media-width-tablet) {
    grid-template-columns: 1fr;
    row-gap: 0;
  }
}

.goods__info-wrapper {
  @media (min-width: $media-width-tablet) {
    @include flexible();

    justify-content: center;
  }
}

.goods__image-wrapper {
  box-sizing: border-box;
  padding: 14px 0 12px;
  min-height: 112px;

  @media (min-width: $media-width-tablet) {
    min-height: 207px;
    padding: 0;
    margin-bottom: 30px;
    justify-content: flex-end;
  }
}

.goods__title {
  @include font-size(16px, 20px);

  margin-top: 0;
  text-transform: uppercase;
  width: 55%;
  color: $color-special-greydarky;

  @media (min-width: $media-width-tablet) {
    @include font-size(20px, 24px);
    text-align: center;
    margin-bottom: 14px;
  }

  @media (min-width: $media-width-desktop) {
    width: 90%;
  }
}

.goods__parameters {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $media-width-tablet) {
    padding-bottom: 33px;
    margin: 0;
  }
}

.goods__parameter-caption {
  @include font-size(12px, 16px);

  display: inline-block;
  vertical-align: middle;
  font-family: "Arial", "Helvetica", sans-serif;
  color: $color-special-greydark;

  @media (min-width: $media-width-tablet) {
    @include font-size(16px, 16px);

    padding-bottom: 9px;
    padding-top: 7px;
    border-bottom: 1px solid $color-special-grey;
  }
}

.goods__parameter-value {
  @include font-size(12px, 16px);

  display: inline-block;
  vertical-align: middle;
  text-align: end;
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  color: $color-special-greydark;

  @media (min-width: $media-width-tablet) {
    @include font-size(16px, 16px);

    padding-bottom: 9px;
    padding-top: 7px;
    border-bottom: 1px solid $color-special-grey;
  }
}

.goods__item-inner-wrapper {
  width: 87.5%;
  box-sizing: border-box;

  @media (min-width: $media-width-tablet) {
    width: 100%;
    padding: 0 37px 39px;
    background-image: linear-gradient($color-basic-grey, $color-basic-grey);
    background-size: 100% 84%;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
}

.goods__item {
  padding-top: 19px;
  padding-bottom: 25px;
  border-top: 1px solid $color-special-greylight;
  box-sizing: border-box;
  min-height: 190px;

  @media (min-width: $media-width-tablet) {
    min-height: 511px;
    flex-direction: column;
    padding: 0;
    border-top: none;
  }
}

.goods__item .action-button {
  margin-bottom: 0;
}

.goods__show-all {
  padding: 25px 0;
  border-top: 1px solid $color-special-greylight;
  border-bottom: 1px solid $color-special-greylight;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: $media-width-tablet) {
    align-items: flex-end;
    border: none;
    padding: 0;
  }
}

.goods__show-all-inner-wrapper {
  width: 87.5%;
  box-sizing: border-box;

  @media (min-width: $media-width-tablet) {
    width: 100%;
    border: 2px solid $color-basic-grey;
    padding: 48px 37px 37px;
    min-height: 84%;
  }
}

.show-all__plus {
  width: 30px;
  height: 30px;
  position: relative;
  margin-bottom: 23px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-top: 2px solid $color-special-greylighty;
    transform: rotate(90deg);
    top: calc(45%);
    left: -1px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-top: 2px solid $color-special-greylighty;
    top: calc(50%);
    left: 0;
  }

  @media (min-width: $media-width-tablet) {
    width: 60px;
    height: 60px;
    margin-bottom: 49px;
  }
}

.show-all__title {
  @include font-size(16px, 20px);

  margin: 0 0 8px;
  text-transform: uppercase;
  color: $color-special-black;

  @media (min-width: $media-width-tablet) {
    @include font-size(20px, 22px);

    margin-bottom: 23px;
    width: 55%;
  }

  @media (min-width: $media-width-desktop) {
    width: 100%;
  }
}

.show-all__description {
  @include font-size(12px, 16px);

  font-family: "Arial", "Helvetica", sans-serif;
  color: $color-special-greydark;
  margin: 0 0 22px;

  @media (min-width: $media-width-tablet) {
    @include font-size(16px, 18px);

    margin-bottom: auto;
    width: 69%;
  }

  @media (min-width: $media-width-desktop) {
    width: 100%;
  }
}

.goods__show-all .action-button {
  margin-bottom: 0;
  grid-column: 1 / span 2;
}
