.input-with-icon {
  padding-right: 45px;
  border-color: $color-special-grey;

  &--invalid {
    border-width: 2px;
    border-color: $color-basic-red;
  }

  &:focus:valid + .input-with-icon__icon {
    stroke: $color-basic-green;
    fill: $color-basic-green;
  }

  &:focus:invalid + .input-with-icon__icon {
    stroke: $color-basic-red;
    fill: $color-basic-red;
  }
}

.input-with-icon--invalid + .input-with-icon__icon {
  stroke: $color-basic-red;
  fill: $color-basic-red;
}

.input-with-icon__icon {
  position: absolute;
  right: 15px;
  stroke: $color-special-greydarky;
  fill: $color-basic-black;
}
