.input-with-icon {
  padding-right: 45px;
  border-color: $color-special-grey;

  &:focus:valid + &__icon {
    stroke: $color-basic-green;
  }

  &:focus:invalid + &__icon {
    stroke: $color-basic-red;
  }
}

.input-with-icon__icon {
  position: absolute;
  right: 15px;
  stroke: $color-special-greydarky;
}
