.input-with-icon {
  padding-right: 45px;
  border-color: $color-special-grey;

  &--invalid {
    border-width: 2px;
    border-color: $color-basic-red;
  }

  &:focus:valid + .input-icon {
    stroke: $color-basic-green;
    fill: $color-basic-green;
  }

  &:focus:invalid + .input-icon {
    stroke: $color-basic-red;
    fill: $color-basic-red;
  }
}

.input-with-icon--invalid + .input-icon {
  stroke: $color-basic-red;
  fill: $color-basic-red;
}
