.page-footer {
  padding-bottom: 22px;
  background-color: $color-basic-grey;

  @media (min-width: $media-width-tablet) {
    padding-bottom: 0;
  }
}

.page-footer__logo {
  width: 100%;
  padding-bottom: 32px;
  border-bottom: 1px solid $color-basic-greylight;
  text-align: center;

  @media (min-width: $media-width-tablet) {
    width: 11%;
    border-bottom: 0;
    padding: 0;
  }
}

.social-network__list {
  padding-top: 23px;
  padding-bottom: 24px;
  width: 100%;
  border-bottom: 1px solid $color-basic-greylight;

  .social-network__item:not(:first-child) {
    padding-left: 37px;
  }

  @media (min-width: $media-width-tablet) {
    width: 23%;
    border-bottom: 0;
    padding: 0;
  }
}

.developed__link {
  @include font-size(16px, 18px);

  font-family: "Arial", "Helvetica", sans-serif;
  padding-top: 22px;
  color: $color-special-greydark;
  text-decoration: none;
  width: 100%;

  @media (min-width: $media-width-tablet) {
    width: 23%;
    padding: 0;
  }
}

.page-footer__bottom-container {
  padding-top: 39px;
  box-sizing: border-box;

  @media (min-width: $media-width-tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
