.page-main__title {
  @include font-size(36px, 36px);

  margin: 0 0 37px;

  @media (min-width: $media-width-tablet) {
    @include font-size(60px, 60px);

    margin-bottom: 54px;
  }
}

.page-main__description {
  @include font-size();

  text-transform: uppercase;
  margin: 0;
  max-width: 81%;

  @media (min-width: $media-width-tablet) {
    @include font-size(20px, 30px);

    max-width: 53%;
  }

  @media (min-width: $media-width-desktop) {
    max-width: 27%;
  }
}

.page-main__title-wrapper {
  width: 87.5%;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 10px;

  @media (min-width: $media-width-tablet) {
    width: 81.7%;
    padding-top: 42px;
    padding-bottom: 31px;
  }

  @media (min-width: $media-width-desktop) {
    width: 84.5%;

    padding-top: 58px;
  }
}
