@mixin font-size($size: 14px, $line-height: 18px) {
  font-size: $size;
  line-height: $line-height;
  font-style: normal;
  font-weight: normal;
}

@mixin button() {
  border: none;
  background: none;
  cursor: pointer;
}

@mixin flexible() {
  display: flex;
  flex-wrap: wrap;
}
