$color-basic-green: #68b738;
$color-basic-white: #ffffff;
$color_basic-black: #000000;
$color-basic-grey: #f2f2f2;
$color-basic-greylight: #d9d9d9;
$color-basic-greylighty: #eaeaea;
$color-special-greydark: #444444;
$color-special-greydarky: #222222;
$color-special-grey: #cdcdcd;
$color-special-greylight: #ebebeb;
$color-special-greylighty: #d3d3d3;
$color-special-black: #111111;
